@font-face {
    font-family: customFont;
    src: url("../fonts/comfortaa/Comfortaa-Light.ttf");
}

body {
    position: relative;
    width: 80%;
    height: 100vh;
    margin: 0 10%;
    font: 100% customFont;
    background-color: #55b499;
}

#title {
    font-size: 4rem;
    color: #801532;
    display: inline-block;
    margin: 10% 0;
}

.hidden {
    visibility: hidden;
}

.center-full-width {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.element {
    display: inline-block;
    font-size: 1.3rem;
    padding: 2%;
    border-radius: 10px;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    margin-top: 5%;
}

.button {
    background-color: #D2791D;
    color: #FFF;
    border: none;
    padding: 4%;
}

.small {
    width: 75%;
}