@font-face {
    font-family: customFont;
    src: url("../fonts/comfortaa/Comfortaa-Light.ttf");
}

.body-container {
    position: relative;
    width: 80%;
    height: calc(var(--vh) * 100);
    margin: 0 10%;
    font: 100% customFont;
    background-color: #55b499;
}

.body-container-logged {
    height: calc(var(--vh) * 90);
}

#title {
    font-size: 4rem;
    color: #801532;
    display: inline-block;
    margin: 0 0 calc(var(--vh) * 4) 0;
}

.subtitle {
    font-size: 3rem;
    color: #801532;
    display: inline-block;
    margin: 0 0 calc(var(--vh) * 3) 0;
}

.info-text {
    font-size: 1.5rem;
    color: #FFF;
    display: inline-block;
    margin: calc(var(--vh) * 2) 0;
}

.center-full-width {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    margin: auto;
}

.element {
    display: inline-block;
    font-size: 1.3rem;
    padding: 2%;
    border-radius: 10px;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    margin-top: calc(var(--vh) * 1.5);
}

.button {
    background-color: #D2791D;
    color: #FFF;
    border: none;
    padding: 4%;
}

.small {
    width: 75%;
}

#bottom-menu {
    background-color: #801532;
    position: fixed;
    top: calc(var(--vh) * 90);
    left: 0;
    width: 100vw;
    height: calc(var(--vh) * 8);
}

.menu-option {
    position: relative;
    vertical-align: middle;
    color: #FFF;
    font-size: 0.8rem;
    display: inline-block;
    width: 18vw;
    top: 25%;
}